<footer class="footer">
    <div class="container">
        <div class="about-us" id="id_5" data-aos="fade-right" data-aos-delay="200">
            <h2>About</h2>
            <p> THE AE_Blogs helps us to strengthen our love for music all over the world, because music is live. This Music_Blog is an inspiration to my love for music.</p>
        </div>
        <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
            <h2>Newsletter</h2>
            <p>Subscribe to get latest news and update</p>
            <div class="form-element">
                <input type="text" placeholder="Email">
            </div>
        </div>
        <div class="instagram" data-aos="fade-left" data-aos-delay="200">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="./images/i/Davido.jpg" alt="insta1">
                <img src="./images/i/Olamide.jpg" alt="insta2">
                <img src="./images/i/Burna.jpg" alt="insta3">
            </div>
            <div class="flex-row">
                <img src="./images/i/Wizkid.jpg" alt="insta4">
                <img src="./images/i/tems.jpg" alt="insta5">
                <img src="./images/i/rema.jpg" alt="insta6">
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <p class="text-gray">
            Copyright ©2022 All rights reserved | made by Emmanuel Amiteye
        </p>
    </div>
    <div class="move-up">
        <a href="#" id="return-to-top" class="float-md-end">
            <span><i class="bi bi-arrow-up-circle-fill"></i></span>
        </a>
    </div>
</footer>









</body>

</html>